{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--- Bootsrap V5 JS -->
        <title>{% block title %} Home {% endblock title%}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous">
        <!--- Font -->
        
        <!--- Favicon -->

        <!--- Logo -->

        <!--- Static CSS -->

    </head>
    <body>
        <div class="wrapper">
            <!-- Header -->
            <header>
                <nav>

                </nav>
            </header>
            <!-- Block Content -->
            {% block title %}{% endblock title%}

        </div> <!-- End Wrapper -->


        <!-- Footer -->
        <footer>

        </footer>

        <!--- Bootsrap V5 JS --->


    </body>
</html>